<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:annotation-config />
    <context:component-scan base-package="foo.bar"/>

    <!--启用aspectj自动代理-->
    <aop:aspectj-autoproxy />

    <!-- XML方式 演示-->
    <!--此处仅列举一个前置通知，其他与注解形式类似-->
    <aop:config>
        <aop:aspect ref="cerebellum">
            <aop:pointcut id="speak" expression="execution(* foo.bar.observed.HelloByXml.sayHello(String)) and args(arg)"/>
            <aop:before method="think" pointcut-ref="speak"/>
        </aop:aspect>
    </aop:config>
</beans>